.sucess_box {
  padding: 10%;
  color: aquamarine;
  border-radius: 20px 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  background-color: var(--quest-body-color);
}
.sucess_box_in {
  background-color: darkslategray;
  border-radius: 20px 20px;
  padding: 5%;
}
.info_box_in {
  background-color: dimgray;
  color:darkred;
  border-radius: 20px 20px;
  padding: 4%;
  font-size: 20px;
}
