<h2>QUESTIONÁRIO AOS PARTICIPANTES</h2>
<form [formGroup]="addQuestionario">

  <div class="form-group mt-2">

    <label class="required-field" for="title">1.Informe seu nome ?:</label>
    <input type="text" style="width:30%" formControlName="Nome" />

  </div>
  <div class="form-group mt-2">

    <label class="required-field" for="title">2.Qual é a sua idade em anos ?:</label>
    <input type="number" formControlName="Idade" placeholder="anos" />

  </div>

  <div class="form-group mt-2">

    <label class="required-field" for="title">3.Informe seu telefone ?:</label>
    <input type="tel" formControlName="Telefone" placeholder="(00) 00000-0000" />

  </div>
  <div class="form-group mt-2">

    <label for="title">4.Com qual gênero você se identifica ? :</label>
    <select formControlName="Genero" placeholder="Gênero">
      <option placeholder="Gênero" *ngFor="let itenGenero of itensGenero" [value]="itenGenero">{{MappingGenero[itenGenero]}}</option>
    </select>

  </div>
  <div class="form-group  mt-2">

    <label for="title">5.Qual é o seu estado civil atual ?:</label>
    <select formControlName="StatusCivil">
      <option *ngFor="let itenStatusCivil of itensStatusCivil" [value]="itenStatusCivil">{{MappingStatusCivil[itenStatusCivil]}}</option>
    </select>

  </div>
  <div class="form-group  mt-2">

    <label for="title">6.Qual a sua etnia ?:</label>
    <select formControlName="Etinia">
      <option *ngFor="let itenEtinia of itensEtinia" [value]="itenEtinia">{{MappingEtinia[itenEtinia]}}</option>
    </select>
  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">7.Você possui alguma doença crônica ?:</label>
    <input type="checkbox" formControlName="DoencaCronica" />

  </div>
  <div class="form-group  mt-2">

    <label for="title">7.1.Se sim, qual doença:</label>
    <input type="text" style="width:70%" formControlName="QualDoenca" placeholder="diabetes, hipertensão, hipo e hipertireoidismo, transtornos psiquiátricos, etc." />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">8.Quantas horas de atividade física semanal você pratica em média ?:</label>
    <select formControlName="HoraExercicio">
      <option *ngFor="let itenHorasExercicios of itensHorasExercicios" [value]="itenHorasExercicios">{{MappingHorasExercicios[itenHorasExercicios]}}</option>
    </select>

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">9.Você faz uso de medicamento continuo ?:</label>
    <input type="checkbox" formControlName="MedicamentoContinuo" />

  </div>
  <div class="form-group  mt-2">

    <label for="title">10.1.Se sim, quais medicamentos ?:</label>
    <input type="text" style="width:50%" formControlName="QualMedicamento" placeholder="qual medicamento" />

  </div>
  <div class="form-group  mt-2">

    <label for="title">11.Quantos ml de café você comsome por semana, em média ?:</label>
    <input type="number" formControlName="MlCafeSemana" placeholder="ml" />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">12.Você fuma ?:</label>
    <input type="checkbox" formControlName="Fuma" />

  </div>
  <div class="form-group  mt-2">

    <label for="title">12.1.Se sim, quantos maços por semana ?:</label>
    <input type="number" formControlName="QtdMacosSemana" placeholder="0" />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">13.Você comsome álcool?:</label>
    <input type="checkbox" formControlName="Bebida" />

  </div>
  <div class="form-group  mt-2">

    <label for="title">13.1.Se sim, quantas vezes durante a semana ?:</label>
    <input type="number" formControlName="BedidasSemana" placeholder="0" />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">14.Há quanto tempo você convive com a cafelei ?:</label>
    <select formControlName="AnosCafeleia">
      <option *ngFor="let itenAnosCafeleia of itensAnosCafeleia" [value]="itenAnosCafeleia">{{MappingAnosCafeleia[itenAnosCafeleia]}}</option>
    </select>

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">15.Em média você apresenta quantos episódios por mês ?:</label>
    <input type="number" formControlName="EpisodiosMes" placeholder="0" />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">16.Você já buscou algum proficional especializado em dor/cafeleia ?:</label>
    <input type="checkbox" formControlName="BuscaProficional" />

  </div>
  <div class="form-group  mt-2">

    <label  class="required-field" for="title">16.1.Se sim, houve melhora dos sintomas ?:</label>
    <input type="checkbox" formControlName="Melhora" />

  </div>
</form>
  
